* Body */
	body{
	    background-color: aqua;
	}
	/* Navbar */
	
	.navbar{
	    max-height: 57px;
	}
	.navigation .navbar-brand{
	    color:black;
	    margin-left: 30px;
	    padding: inherit;
	    font-weight: bold;
	    background-color:grey;
	    font-family: Georgia, 'Tahoma', Times, serif;
	}
    .navbar{
	    background-color:whitesmoke;
	    font-size: 15px;
    }
    .active, .dropdown-menu .dropdown-item:active a:hover{

	    background-color:whitesmoke!important;
    }
    .dropdown-item{
	    color: gray !important;
	}
	.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{
	    background-color:gray !important;
	}
	a{
	    color: grey;
	    font-size: 15px;
	}
	.nav-link:hover{
	    background-color:aqua!important;
	   }
	.navbar-brand:hover{
	color: lightskyblue !important;
	}
	./* Images */
img{
    width:100% !important;
    height:100% !important;
}
.active, .panel:hover{
    border-color:#0BADA6;
    border-style: solid; 
    
}
.vizualizations{
    width:50% !important;
    height:50% !important;
}

/* Title Class  */
.title{
    color: #0BADA6;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px; 
}
/* Paragraph Element */
p{
 color: #6D8092;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 17px; 
}
/* Box Class */
.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color:black;
    background-color: white; 

  }